<div class="container-cadastro">
    <form method="post" action="/userProfile/completarCadastro" name="userProfile" >

        <div>
            
            
            <label for="">Nome Completo</label>
            <input type="text" id="name" name="name" value="<%=userLogged.FULL_NAME%>">
            
            <label for="">Nome de Usuário</label>
            <input type="text" id="name" name="nameUser" value="<%=userLogged.USER_NAME%>">
        </div>

        <div>
            <label for="">Data de nascimento</label>
            <input type="date" name="dataNascimento" value="<%=userLogged.BIRTH_DATE%>">

            <label for="">CPF</label>
            <input type="text" name="cpf" value="<%=userLogged.CPF%>">

        </div>

        <div>

            <label for="">Sexo</label>
            <div  id="radios-buttons">

                <%if(userLogged.SEXO == 'masc'){%>

                    <input type="radio" name="sexo" value="masc" id="" checked >
                    <label for="">Masculino</label>
                    <input type="radio" name="sexo" value="fem" id="" >
                    <label for="">Feminino</label>
                    <input type="radio" name="sexo" value="nenhum" id=""  >
                    <label for="">Prefiro não dizer</label>

                <%}else if(userLogged.SEXO == 'fem'){%>

                    <input type="radio" name="sexo" value="masc" id=""  >
                    <label for="">Masculino</label>
                    <input type="radio" name="sexo" value="fem" id=""  checked>
                    <label for="">Feminino</label>
                    <input type="radio" name="sexo" value="nenhum" id=""  >
                    <label for="">Prefiro não dizer</label>

                <%}else{%>
                    <input type="radio" name="sexo" value="masc" id="" >
                    <label for="">Masculino</label>
                    <input type="radio" name="sexo" value="fem" id="" >
                    <label for="">Feminino</label>
                    <input type="radio" name="sexo" value="nenhum" id=""  checked>
                    <label for="">Prefiro não dizer</label>
                <% } %>

                <span></span>
            </div>

            <label for="">Telefone</label>
            <input type="tel" name="telefone" value="<%=userLogged.TEL%>">

        </div>


        <button class="btnUserProfile">Salvar Informações</button>


    </form>


</div>